<nav class="navbar navbar-expand-lg navbar-ligth bg-ligth">
    <a class="navbar-brand" routerLink="/"><img class="img-fliud custom-img" src="../../../assets/logos/Doclive_logo.jpg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse  navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pacientes">Pacientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/especialidades">Especialidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tipos">Tipos</a>
        </li>
      </ul>
    </div>
  </nav>
