<div class="col-md-4" *ngFor="let g of games">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
           {{g.title}}
           <button class="btn btn-danger" (click)="deleteGame(g.id)">
              <i class="fa fa-trash"></i>
           </button>
        </div>
        <img [src]="g.image" class="card-img-top">
        <div class="card-body">
            <p>{{g.description}}</p>
           <a [routerLink]="['/games/edit',g.id]" class="btn btn-info btn-block mt-3">EDIT GAME</a>
        </div>
    </div>
</div>
